<style>
    img {
        height: 2rem;
        border-radius: 6px;
    }
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://leetcode.com/u/Vivek_Masuna/"><img src="/leetcode.png" alt="leetcode"></a>
            <a href="https://www.instagram.com/vivek_masuna/"><img src="/instagram.png" alt="instagram"></a>
            <a href="https://www.linkedin.com/in/vivekmasuna999/"><img src="/linkedin.png" alt="linkedin"></a>
        </div>
        <div class="f-info-brand">
            &copy; Vivek_Masuna
        </div>
    </div>
</footer>
