<div class="navbar">
    <div class="nav-logo">
        <a href="/"><i class="fa-brands fa-quora"></i></a>
    </div>
    <div class="nav-button">
        <div class="anim-layer"></div>
        <a href="/quotes">Browse all quotes</a>
    </div>
    <div id="hamburger-menu">&#9776;</div>
</div>

<div id="mobile-menu">
    <div class="mobile-nav-button">
        <div class="anim-layer"></div>
        <a href="/quotes">Browse all quotes</a>
    </div>
    <div id="hamburger-cross">&#10006;</div>
</div>
